

body {


  .to-top {
    font-size:$toTopFontSize;
    text-decoration:none;
    padding:$sectionPadding;
    text-align:right;
    float:right;
    margin:$toTopMargins;
    color:$fieldHeaderBgBorderColor;
    }


  .btn-primary {
     background-color:$orderNowBtnColor;
     border-color:$orderNowBtnColor;
  }

}
