

@media screen and (min-width: $breakPointDesktop) {
  .header-nav {
    a:hover{
      padding:$headerHoverPadding;
    }
  }

  .team {
      .img-container {
        width:$teamImgContainerDesktopWidth;
      }
    }

    .glyph-container{
    width:$widgetGlyphContainerWidth;
    }

}
