

@media screen and (min-width: 70em) {

    .team {
      .img-container {
        width:45%;
        margin:0 auto;
      }
    }

    .glyph-container{
      // margin:0 auto;
      width:60%;
    }

}
