

@media screen and (min-width: 70em) {

  .header-nav {
    font-size:1.5em;
    a:hover{
      padding:.75em .75em;
    }
  }


    .team {
      .img-container {
        width:45%;
        margin:0 auto;
      }
    }

    .glyph-container{
      width:60%;
    }

}
