

header{
  background-color:$headerBgColor;
  color:$navJumboTextColor;
  display:flex;
  box-sizing: border-box;
  flex-wrap:wrap;
  padding:$headerPadding;

    h1 {
      font-size:$h1FontSize;
      padding:$headerH1padding;
      margin:$headerH1Margin;
      flex:$h1Flex;
    }

    .glyphicon-menu-hamburger {
      flex:$headerNavIconFlex;
      font-size:$headerNavIconFontSize;
      font-weight:$headerNavIconFontWeight;
      text-align:right;
      align-self: center;
    }
    .glyphicon-menu-hamburger:hover ~ nav {
      display:block;
    }

    nav {
      display:none;
      ul{
        text-decoration: none;
        color:$headerNavLinks;
        list-style:none;
        font-size:$headerNavFontSize;

         li{
           padding:$headerLiPadding;
           margin-left:$headerLiMarginLeft;
         }
       }
    }



}
