


.ordering {
  padding:1em 2em;
  background-color:$placeOrderBgColor;
  text-align:center;

  h2{
    margin:1em;
    font-size:$h2FontSize;
  }
 .form-group {
   border-radius:5px;
    border:2px solid $fieldHeaderBgBorderColor;
    box-sizing: border-box;

    .form-description{
        color:white;
        background-color:$fieldHeaderBgBorderColor;
        box-sizing: border-box;
         h3{
           margin:.5em auto;
         }
      }
    form{
      padding:0 1em 1em 1em;
      text-align:left;
      background-color:white;

      label{
        margin-top:1em;
      }
      .special{
        display:flex;
        justify-content: space-between;
        margin:1em 0;
        input{
          width:80%;
          align-self:center;
        }
        label{
          align-self:center;
        }

      }

  }
}



  .btn-primary {
   margin:0 auto;
   text-align:center;
   background-color:$orderNowBtnColor;
   border-color:$orderNowBtnColor;
  }
}
