

.our-widgets {
  clear:right;
  overflow:hidden;
  padding:$sectionPadding;
  text-align:center;
  background-color:$ourWidgetsBg;
  h2{
    font-size:$h2FontSize;
  }
  p {
    @include paragraphTextStyle;
  }
    .alert{
      text-align:center;
      font-weight:$ourWidgetsAlertFontWeight;
    }
    .glyph-container{
      padding:0;
      display:flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li{
        flex:$ourWidgetsGlyphFlex;
        position:relative;
        i {
          font-size:$ourWidgetsGlyphSize;
        }
        .badge {
          font-size:1.25em;
          top:-5px;
          right:20px;
          background-color:$badgeColor;
          position:absolute;
        }
      }

    }


}
