

@media screen and (min-width: $breakPointTablet) {

  header{

    h1{
      flex:$h1TabletFlex;
    }
  }

  .header-nav {
    box-sizing: border-box;
    text-align: right;
    display:inline;
    align-self: center;
    flex:50%;


    ul{
      margin-left:$headerTabletUlMarginLeft;
      padding:$headerTabletUlPadding;

        li{
          display:inline;
          margin:$headerLiMargin;
          font-size:1em;
          a:hover{
            padding:$headerLiPadding;
            background-color:$bgHover;
            color:$onHoverLinks;
          }
        }
    }
  }

  .glyphicon-menu-hamburger {
    display:none;
  }

  .team {
    .img-container {
      width:$teamImgContainerTabletWidth;
      margin:$teamImgContainerTabletMargin;
    }
  }

  form {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;

    .item-details{
     flex:$formHeaderTabletFlex;
    }

    .your-info{
      flex:$formHeaderTabletFlex;
    }

  }

  .btn-confirm {
     display:block;
  }

}
