

.team {
  padding:$sectionPadding;

    h2{
      text-align:center;
    }

    .img-container {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    img{
      margin:$teamImageMargins;
      flex-basis:$teamImageFlexBasis;
    }

}
