

$sectionPadding:0 1em;
$toTopMargins:0 1em 1em 0;
$toTopFontSize:1.25em;

$headerNavLinks:#337ab7;
$textColor:#333333;
$h1FontSize:3.5em;
$h2FontSize:3em;
$breakPointTablet:55em;
$breakPointDesktop:70em;
$headerLiPadding:1em 0;
$headerLiMarginLeft:1em;
$headerPadding:1em;
$headerNavIconFontWeight:bold;
$h1Flex:60%;
$headerNavIconFlex:25%;
$headerNavFontSize:1.15em;
$h1TabletFlex:30%;
$headerH1padding:.25em 0;
$headerH1Margin:0;
$headerNavIconFontSize:3em;
$headerTabletUlMarginLeft:1;
$headerTabletUlPadding:0;
$headerLiMargin:1.5em .5em;
$headerLiPadding:1em .5em;
$jumbotronBgImage:url(blackgeometric.jpg);
$navJumboTextColor: #ffffff;
$headerHoverPadding:.5em;

$teamImageMargins:6px 3px;
$teamImageFlexBasis:30%;
$teamImgContainerTabletWidth:65%;
$teamImgContainerDesktopWidth:45%;
$teamImgContainerTabletMargin:0 auto;

$bgHover:#555555;
$onHoverLinks:#ffffff;
$headerBgColor:#000000;

$ourWidgetsBg:#d9edf7;
$widgetBadges:#337ab7;
$widgetBagdgesBgColor:#ffffff;
$widgetsAlertFontWeight:bold;
$widgetsGlyphFlex:1;
$widgetsGlyphSize:4em;
$widgetBadgeFontSize:.3em;
$widgetBadgeTopPos:0;
$widgetBadgeRightPos:-20px;
$widgetBadgeFontStyle: sans-serif;
$widgetGlyphContainerPadding:0;
$widgetGlyphContainerMargin:0 auto;
$widgetGlyphContainerWidth:60%;


$orderNowBtnColor:#5cb85c;
$orderFormBtnColor:#5cb85c;
$onHoverOrderNowBtnColor:#449d44;
$placeOrderBgColor:#ffddcc;
$fieldHeaderBgBorderColor:#337ab7;
$badgeColor:$fieldHeaderBgBorderColor;
$fieldHeaderTextColor:#337ab7;
$formBorderRadius:5px;
$orderFormFieldsetBgColor:#ffffff;
$orderingFieldsetPadding:0 1em 1em 1em;
$orderingFieldsetLabelMarginTop:1em;
$orderingPadding:1em 1em 0 1em;
$orderingH2Margin:1em;
$orderingFormDescrH3Margin:.5em auto;
$orderingQuantityMargin:1em 0;
$orderingQuantityNumberWidth:4em;
$orderingQuantityNumberMargin-Left:1em;
$orderingGiftRadioMargin:1em 0;
$orderingGiftRadioLabelMargin:0 1em;
$orderingExpirationInputWidth:85%;
$formHeaderTabletFlex:45%;

$footerFontSize:1.25em;
$footerPadding:1em;
$footerBgColor:#000000;
$footerTextColor:#ffffff;
