


$sectionPadding:0 1em;
$toTopMargins:0 1em 1em 0;
$toTopFontSize:1.25em;

$navLinks:#337ab7;
$textColor:#333333;
$h1FontSize:3.5em;
$h2FontSize:3em;
$breakPoint1:55em;//not final names
$breakPoint2:70em;

$headerH1padding:.25em 0;
$headerH1Margin:0;
$headerNavBurgerFontSize:3em;

$jumbotronBgImage:url(blackgeometric.jpg);
$navJumboTextColor: #ffffff;

$teamImageMargins:6px 3px;
$teamImageFlexBasis:30%;

$bgHover:#555555;
$onHoverLinks:#ffffff;
$headerBgColor:#000000 ;

$ourWidgetsBg:#d9edf7;
$widgetBadges:#337ab7;
$widgetBagdgesBgColor:#ffffff;
$widgetsAlertFontWeight:bold;
$widgetsGlyphFlex:1;//need to figure out what is going on here
$widgetsGlyphSize:4em;

$widgetBadgeFontSize:.3em;
$widgetBadgeTopPos:0;
$widgetBadgeRightPos:-20px;
$widgetBadgeFontStyle: sans-serif;
$widgetGlyphContainerPadding:0;

$orderNowBtnColor:#5cb85c;
$orderFormBtnColor:#5cb85c;
$onHoverOrderNowBtnColor:#449d44;
$placeOrderBgColor:#ffddcc;
$fieldHeaderBgBorderColor:#337ab7;
$badgeColor:$fieldHeaderBgBorderColor;
$fieldHeaderTextColor:#337ab7;
$formBorderRadius:5px;
$orderFormFieldsetBgColor:#ffffff;
$orderingFieldsetPadding:0 1em 1em 1em;
$orderingFieldsetLabelMarginTop:1em;
$orderingPadding:1em 1em 0 1em;
$orderingH2Margin:1em;
$orderingFormDescrH3Margin:.5em auto;
$orderingQuantityMargin:1em 0;
$orderingQuantityNumberWidth:4em;
$orderingQuantityNumberMargin-Left:1em;
$orderingGiftRadioMargin:1em 0;
$orderingGiftRadioWidth:5%; //need to fix this
$orderingExpirationInputWidth:85%;


$footerFontSize:1.25em;
$footerPadding:1em;
$footerBgColor:#000000;
$footerTextColor:#ffffff;
