

$breakPoint1:55em;//not final names
$breakPoint2:70em;

$headerH1padding:.25em 0;
$headerH1Margin:0;
$headerNavBurgerFontSize:2em;

$jumbotronBgImage:url(blackgeometric.jpg);
// $jumbotronBgImageSize:auto auto;
// $jumbtronSize: 20em;

$textColor:  #333333;
$navJumboTextColor: #ffffff;
$navLinks: #337ab7;
$bgHover:#555555;
$onHoverLinks:#ffffff;
$headerBgColor:#000000 ;

$orderNowBtnColor:#5cb85c;
$orderFormBtnColor:#5cb85c;
$onHoverOrderNowBtnColor:#449d44;

$ourWidgetsBg:#d9edf7;
$widgetBadges:#337ab7;
$widgetBagdgesBgColor:#ffffff;
$placeOrderBgColor:#ffddcc;
$fieldHeaderBgBorderColor:#337ab7;
$fieldHeaderTextColor:#337ab7;
$footerBgColor:#000000;
$footerTextColor:#ffffff;
