body .to-top {
  font-size: 1.25em;
  text-decoration: none;
  padding: 0 1em;
  text-align: right;
  float: right;
  margin: 0 1em 1em 0;
  color: #337ab7; }
body .btn-primary {
  background-color: #5cb85c;
  border-color: #5cb85c; }
body .btn-primary:hover {
  background-color: #449d44;
  border-color: #449d44; }

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 1em; }
  header h1 {
    font-size: 3.5em;
    padding: 0.25em 0;
    margin: 0;
    flex: 60%; }
  header .glyphicon-menu-hamburger {
    flex: 25%;
    font-size: 3em;
    font-weight: bold;
    text-align: right;
    align-self: center; }
  header .glyphicon-menu-hamburger:hover ~ nav {
    display: block; }
  header nav {
    display: none; }
    header nav ul {
      text-decoration: none;
      color: #337ab7;
      list-style: none;
      font-size: 1.15em; }
      header nav ul li {
        padding: 1em 0.5em;
        margin-left: 1em; }

.jumbotron {
  background-image: url(blackgeometric.jpg);
  color: #ffffff;
  text-align: center; }
  .jumbotron h2 {
    font-size: 3em; }
  .jumbotron h3 {
    font-weight: lighter;
    margin-bottom: 1em; }

.summary {
  text-align: center; }
  .summary h2 {
    font-size: 3em; }
  .summary p {
    line-height: 1.5em;
    font-weight: 350;
    margin: 1em;
    font-size: 1.2em;
    text-align: justify; }

.team {
  padding: 0 1em; }
  .team h2 {
    text-align: center; }
  .team .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .team img {
    margin: 6px 3px;
    flex-basis: 30%; }

.our-widgets {
  clear: right;
  overflow: hidden;
  padding: 0 1em;
  text-align: center;
  background-color: #d9edf7; }
  .our-widgets h2 {
    font-size: 3em; }
  .our-widgets p {
    line-height: 1.5em;
    font-weight: 350;
    margin: 1em;
    font-size: 1.2em;
    text-align: justify; }
  .our-widgets .alert {
    text-align: center;
    font-weight: bold; }
  .our-widgets .glyph-container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    .our-widgets .glyph-container li {
      flex: 1;
      align-self: center; }
      .our-widgets .glyph-container li i {
        font-size: 4em;
        position: relative; }
      .our-widgets .glyph-container li .badge {
        font-family: sans-serif;
        font-size: 0.3em;
        top: 0;
        right: -20px;
        background-color: #337ab7;
        position: absolute; }

.ordering {
  clear: right;
  overflow: hidden;
  padding: 0 1em;
  padding: 1em 1em 0 1em;
  background-color: #ffddcc;
  text-align: center; }
  .ordering h2 {
    margin: 1em 1em 0 1em;
    font-size: 3em; }
  .ordering .form-group {
    margin: 1em;
    border-radius: 5px;
    border: 2px solid #337ab7;
    box-sizing: border-box;
    background-color: #ffffff; }
    .ordering .form-group .form-description {
      color: #ffffff;
      background-color: #337ab7;
      box-sizing: border-box; }
      .ordering .form-group .form-description h3 {
        margin: 0.5em auto; }
    .ordering .form-group fieldset {
      padding: 0 1em 1em 1em;
      text-align: left;
      background-color: #ffffff; }
      .ordering .form-group fieldset label {
        margin-top: 1em; }
      .ordering .form-group fieldset .quantity {
        display: flex;
        align-items: center;
        margin: 1em 0; }
        .ordering .form-group fieldset .quantity .number {
          width: 4em;
          margin-left: 1em; }
      .ordering .form-group fieldset .gift-wrap {
        display: flex; }
      .ordering .form-group fieldset .expiration {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em 0; }
        .ordering .form-group fieldset .expiration input {
          width: 85%; }
  .ordering p {
    margin: 0; }

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
  text-align: left;
  font-size: 1.25em; }

@media screen and (min-width: 55em) {
  header h1 {
    flex: 30%; }

  .header-nav {
    box-sizing: border-box;
    text-align: right;
    display: inline;
    align-self: center;
    flex: 50%; }
    .header-nav ul {
      margin-left: 1;
      padding: 0; }
      .header-nav ul li {
        display: inline;
        margin: 1.5em 0.5em;
        font-size: 1em; }
        .header-nav ul li a:hover {
          padding: 1em 0.5em;
          background-color: #555555;
          color: #ffffff; }

  .glyphicon-menu-hamburger {
    display: none; }

  .team .img-container {
    width: 65%;
    margin: 0 auto; }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    form .item-details {
      flex: 45%; }
    form .your-info {
      flex: 45%; }

  .btn-confirm {
    display: block; } }
@media screen and (min-width: 70em) {
  .header-nav a:hover {
    padding: 0.5em; }

  .team .img-container {
    width: 45%; }

  .glyph-container {
    width: 60%; } }

/*# sourceMappingURL=style.css.map */
